@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    box-sizing: border-box;
}

@layer utilities {
    .grad-1 {
        background: linear-gradient(180deg, #FF6198, #FF6F71);
    }

    .grad-2 {
        background: linear-gradient(180deg, #FF6F71, #FF7D49);
    }

    .grad-3 {
        background: linear-gradient(180deg, #FF7D49, #FF8426);
    }

    .grad-4 {
        background: linear-gradient(
            180deg,
            #FF6198 0%,
            #FF6F71 33%,
            #FF7D49 66%,
            #FF8426 100%
        );
    }

    .bg-radial-green {
        background: radial-gradient(
            52.14% 52.14% at 50% 50%,
            #FBFFEB 0%,
            #ABCA1D 100%
        );
    }
}

body {
    @apply bg-main_bg text-white;
}

h2 {
    @apply font-[Forum] font-normal text-5xl;
}

.content {
    @apply w-[90%] max-w-[1500px] mx-auto;
}
