@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    box-sizing: border-box;
}



@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    html {
        @apply text-[16px] xl:text-[15px] md:!text-[14px] scroll-smooth
        [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
    }
}


@layer utilities {

    .grad-1 {
        background: linear-gradient(180deg, #FF6198 0%, #FF6C77 100%);
    }

    .grad-2 {
        background: linear-gradient(180deg, #FF6C77 0%, #FF7955 100%);
    }

    .grad-3 {
        background: linear-gradient(180deg, #FF7955 0%, #FF873B 100%);
    }

    .grad-4 {
        background: linear-gradient(180deg, #FF873B 0%, #FF8426 100%);
    }

    .grad-contact-form {
        background: linear-gradient(
            180deg,
            #FF6198 0%,
            #FF8426 100%
        );
    }
}

body {
    @apply bg-main_bg text-white;
}

h2 {
    @apply font-normal text-5xl;
}

.content {
    @apply w-[90%] max-w-[1500px] mx-auto;
}

input {
    @apply bg-white !text-3xl !rounded-xl !px-8 !py-4 outline-none focus:outline-none border-none !text-black-500 placeholder:text-black-300;
}
